.main-col div[data-bind*="category_attribute_copy_modal"] {
  display: none;
}

.copy-attribute-button.icon-pagebuilder-copy {
  margin-top: 5px;
  display: block;
  cursor: pointer;
  padding: 5px 10px;
}

.category-content-modal {
  .modal-header .save.primary {
    position: absolute;
    right: 80px;
    top: 8px;
    z-index: 1;
  }

  .fieldset-wrapper-description {
    padding: 10px 0;
  }
}

.category-mass-assign-modal {
  #sorting-mode{
    margin-left: 20px;
  }
}

#category-mass-assign-button {
  margin-bottom: 15px;
  margin-right: 15px;
}

