<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Adminhtml\Category\AssignProducts">
        <plugin name="category_assign_product_template_empty_button" type="LFuser\CategoryContentManagement\Plugin\Catalog\Block\Adminhtml\Category\AssignProductsPlugin" />
    </type>
    <type name="Magento\Catalog\Block\Adminhtml\Category\Tab\Product">
        <plugin name="category_product_tab_image_to_collection" type="LFuser\CategoryContentManagement\Plugin\Catalog\Block\Adminhtml\Category\Tab\ProductPlugin" />
    </type>

    <type name="LFuser\CategoryContentManagement\Plugin\Catalog\Block\Adminhtml\Category\AssignProductsPlugin">
        <arguments>
            <argument name="prependBlocks" xsi:type="array">
                <item name="truncate_button" xsi:type="array">
                    <item name="name" xsi:type="string">category.truncate.button</item>
                    <item name="type" xsi:type="string">LFuser\CategoryContentManagement\Block\Adminhtml\Category\Product\TruncateButton</item>
                </item>
                <item name="mass_assign_button" xsi:type="array">
                    <item name="name" xsi:type="string">category.massassign.button</item>
                    <item name="type" xsi:type="string">LFuser\CategoryContentManagement\Block\Adminhtml\Category\Product\MassAssignButton</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>



